.fs-54{
    color: azure;
    text-align: center;
}

.fs-18{
    color: azure;
    text-align: center;
}

.container-fluid{
    font-family: "Baloo Da 2", serif;
}

.container{
    background-color: azure;
}
