#img-bg {
  background-image: url("https://i.imgur.com/baqyxVO.jpg");
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}



.container-fluid {
  background-color: azure;
  font-family: "Baloo Da 2", serif;
}


hr {
  background-color: grey;
}